<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ezbase.system.mapper.UserMapper">
    <resultMap type="User" id="baseMap">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="salt" property="salt"/>
        <result column="name" property="name"/>
        <result column="email" property="email"/>
        <result column="avatar" property="avatar"/>
        <result column="remarks" property="remarks"/>
        <result column="login_flag" property="loginFlag"/>
        <result column="del_flag" property="delFlag"/>
        <collection property="roles" ofType="Role" column="id"
                    select="ezbase.system.mapper.RoleMapper.getRolesByUserId"/>
    </resultMap>

    <select id="getById" resultMap="baseMap">
        select * from sys_user where id=#{id} and del_flag='0'
    </select>

    <select id="countByParam" resultType="Integer" parameterType="Map">
        select count(0) from sys_user where del_flag='0'
        <if test="username != null">
            and name = #{username},
        </if>
        <if test="name != null">
            and name = #{name},
        </if>
    </select>

    <select id="listByParam" resultMap="baseMap" parameterType="Map">
        select * from sys_user where del_flag='0'
        <if test="username != null">
          and name = #{username},
        </if>
        <if test="name != null">
          and name = #{name},
        </if>
        <if test="sort != null and order != null">
            order by #{sort} #{order}
        </if>
        <if test="offset != null and limit != null">
            limit #{offset},#{limit}
        </if>

    </select>

    <insert id="insert" parameterType="User">
        insert into sys_user (id,username,password,salt,name,email,remarks,login_flag,del_flag) values (
        #{id}, #{username},#{password}, #{salt},#{name}, #{email},#{remarks},#{loginFlag},#{delFlag}
        )
    </insert>

    <delete id="deleteById">
        delete from sys_user where id=#{id}
    </delete>

    <select id="getByUsername" resultMap="baseMap">
        select * from sys_user where username=#{username} and del_flag='0'
    </select>

    <update id="update" parameterType="User">
        update sys_user
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="password != null">
                password = #{password},
            </if>
            <if test="email != null">
                email = #{email},
            </if>
            <if test="avatar != null">
                avatar = #{avatar},
            </if>
            <if test="remarks != null">
                remarks = #{remarks},
            </if>
            <if test="loginFlag != null">
                login_flag = #{loginFlag},
            </if>
        </set>
        where id = #{id}
    </update>

    <delete id="deleteUserRoles">
        delete from sys_user_role where user_id=#{userId}
    </delete>

    <insert id="configRoles">
        insert into sys_user_role (user_id,role_id) values
        <foreach collection="roles" item="item" index="index" separator="," >
            (#{userId},#{item})
        </foreach>

    </insert>

    <select id="checkUserExit"  resultType="Integer">
        select count(0) from sys_user where username=#{username} and del_flag='0'
    </select>

</mapper>